{% extends "base.html" %}
{% block title %}success{% endblock %}
{% block containercontent %}
    <h2>Tudo Certo!</h2>
    {#    <p>Obrigada, <strong>{{ name }}</strong>, por autorizar nossa aplicação para a conta <a#}
    {#            href="https://twitter.com/{{ screen_name }}">@{{ screen_name }}</a>. Recebemos com sucesso seu token de#}
    {#        acesso e  </p>#}
    <p>
        <a href="https://twitter.com/{{ screen_name }}">@{{ screen_name }}</a> aqui estão algumas informações básicas do
        seu perfil:
    </p>
    <div class="row justify-content-center">
        <div class="card index-card m-3">
            <div class="card-body">
                <h5 class="card-title text-center">{{ name }}</h5>
                <div class="row justify-content-center">
                    <div class="col-lg-4 mb-3 text-center">
                        <img class="tweet-icon" src="/static/icons/icons8-stack-of-tweets-80.png"
                             alt="Stack of Tweets"/>
                        <p class="twitter-info-text">Você tweetou <span
                                class="label label-success">{{ statuses_count }}</span> vezes.</p>
                    </div>

                    <div class="col-lg-4 mb-3 text-center">
                        <img class="tweet-icon" src="/static/icons/icons8-checked-user-female-80.png"
                             alt="Followers"/>
                        <p class="twitter-info-text">Você tem <span
                                class="label label-success">{{ followers_count }}</span> seguidores.</p>
                    </div>

                    <div class="col-lg-12 mb-3 text-center">
                        <img class="tweet-icon" src="/static/icons/icons8-twitter-80.png"
                             alt="Follows"/>
                        <p class="twitter-info-text">Você segue <span
                                class="label label-success">{{ friends_count }}</span> usuários.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    <p>That's it, there's nothing left for you in this demo. Now, because this is a demo and we don't want to access#}
    {#        your#}
    {#        data any longer, we've deleted our local copy of your token. You can be extra safe and revoke our token from#}
    {#        your <a#}
    {#                href="https://twitter.com/settings/applications">account settings</a> on Twitter.</p>#}
    <hr>
    <h3>Procure Amizades</h3>
    <p>Digite o @ ou nome de usuário de alguém que você gostaria de ser amigo, vamos tentar dizer
        quantos % vocês são compatíveis baseado nas suas redes de amigos do Twitter.</p>
    <div class="row justify-content-center">
        <form class="form-inline">
            <div class="form-group mb-2">
                <label for="staticName" class="sr-only">Name</label>
                <input type="text" readonly class="form-control-plaintext" id="staticName" value="{{ name }}">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputFriendName" class="sr-only">Nome do amigo</label>
                <input type="text" class="form-control" id="inputFriendName" placeholder="Nome do amigo">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Ver Match</button>
        </form>
    </div>

    <hr>
{#    <a href="/" class="btn btn-small btn-primary">Tentar novamente</a>#}
    {#    <hr>#}
{% endblock %}