{% extends "base.html" %}
{% block containercontent %}
    <p class="lead">Bem vindo! Neste site iremos analisar algumas informações do seu Twitter, mas para isso
        precisamos de sua permissão. Não se preocupe, antes disso vamos te explicar o que vai acontecer.</p>
    <div class="hero-unit">
        <p>Para começar, precisamos de dados do seu Twitter, não se preocupe isso só é possível com a sua permissão.
            Mais informações foram disponibilizadas pelo próprio Twitter em
            <a href="https://developer.twitter.com/en/docs/basics/authentication/overview/oauth">OAuth</a>.
        </p>
        <p>Iremos analisar:</p>

        <div class="row demo-graphs">
            <div class="col-sm-4">
                <div class="card index-card m-3">
                    <div class="card-body">
                        <h5 class="card-title">Sua rede de amigos direta</h5>
                        {#                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
                        <img class="demo-img" src="/static/images/Egoccentric_Network_1.png"
                             style="width: 60%" alt="Egoccentric Network 1.0">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card index-card m-3">
                    <div class="card-body">
                        <h5 class="card-title">Conexões entre os seus amigos</h5>
                        {#                        <p class="card-text"></p>#}
                        <img class="demo-img" src="/static/images/Egocentric_Network_15.png"
                             style="width: 60%" alt="Egoccentric Network 1.5">
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card index-card m-3">
                    <div class="card-body">
                        <h5 class="card-title">E os amigos dos seus amigos</h5>
                        {#                        <p class="card-text"></p>#}
                        <img class="demo-img" src="/static/images/Egocentric_Network_20.png"
                             style="width: 70%" alt="Egoccentric Network 2.0">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <p>Clique no botão para começar.</p>
    </div>
    <div class="row justify-content-center">
        <a href="/start" class="btn btn-small btn-success">Bora lá!</a>
    </div>

{% endblock %}